html {
    font-family: "Lucida Console";
    color: white;
}
body {
    background-image: url(https://wallpapercave.com/wp/0Rjh2Oo.jpg);
    font-size: 20px;
    margin: 50px;
}
#Title {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    border: 1px black;
    background-color: black;
    text-decoration: underline;
}

#Title2 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

#seperation {
    font-size: 40px;
    text-align: center;
}

div{
    text-indent: 50px;
}

input {
    width: 200px;
    height: 150px;
    border-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    font-family: "Lucida Console";
    font-size: 30px;
    cursor: pointer;
    border-radius: 2px;
    padding: 20px;
    position: absolute;
    top: 70%;
}

input:hover {
    background-color: #555;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
}

li a {
    display: block;
    color: white;
    padding: 16px 30px;
    text-decoration: none;
    background-color: black;
}

li a:hover {
    background-color: #555;
    color: white;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

#start {
    right: 44%;
}

#bear {
    right: 84%;
}

#butterfly {
    right: 64%;
}

#lizard {
    right: 44%;
}

#shark {
    right: 24%;
}

#rat {
    right: 4%;
}

#nextbear {
    right: 44%;
}

#acceptbear {
    right: 64%;
}

#refusebear {
    right: 24%;
}

#gobear {
    right: 64%;
}

#bailbear {
    right: 24%;
}

#address {
    text-align: center;
}

#retry {
    right: 44%;
}